<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-log-viewer.ZPM">
    <Module>
      <Name>iris-log-viewer</Name>
      <Version>1.0.5</Version>
      <Description>IRIS Console Log Viewer</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="otw.log.PKG"/>
      <UnitTest Name="/tests" Package="otw.Test" Phase="test"/>
      <CSPApplication 
        Url="/irisapp"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        SourcePath="/csp"
        DeployPath="{$cspdir}/irisapp"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/irisapp"
      />
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
    </Module>
  </Document>
</Export>
